@use "./core" as *;

.appWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  max-width: 80vw;
  margin: 0 auto;
  border: 1px solid;
}

.mainTitle {
  margin: 10px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 10px;
  border-top: 1px solid get($colors, "black");

  &:last-child {
    border-bottom: 1px solid get($colors, "black");
  }
}


